PORT=5000
FRONTEND_URL=vercel_url_del_frontend
BACKEND_URL=render_url_del_backend
NODE_ENV=development

# MONGO DB
MONGODB_USERNAME=username
MONGODB_PASSWORD=password
MONGO_URI=mongodb+srv://username:

# MERCADO PAGO
MP_ACCESS_TOKEN=access_token_from_mercadopago
MP_PUBLIC_KEY=public_key_from_mercadopago
MP_CLIENT_ID=client_id_from_mercadopago
MP_CLIENT_SECRET=client_secret_from_mercadopago

# GOOGLE AUTH (Para verificar el token en el backend)
GOOGLE_CLIENT_ID=client_id_from_google
GOOGLE_CLIENT_SECRET=client_secret_from_google

# JWT
JWT_SECRET=super_secret_jwt_key_confiacar_dev_2026